main {
    display: flex;
    flex-wrap: wrap;
    font-family: "The Girl Next Door", sans-serif;
    padding: 30px;
}

.new-card {
   width: 200px;
   height: 298px;
   background-color: #5c5b5b;
   margin: 10px;
} 

h3 {
    color: white;
    text-align: center;
    cursor: pointer;
    padding-top: 80px;
}

.oracle-cards {
    width: 200px;
    height: 298px;
    margin: 10px;
    background-size: cover;
}
@media only screen and (max-width: 600px) {
    .new-card {
        display: none;
    }
    h1 {
        display: flex;
        text-align: center;
    }
}