* {
  box-sizing: border-box;
}
body {
  font-family: 'Lato';
}
.wrapper {
  width: 90%;
  max-width: 800px;
  margin: 0 auto 30px;
}
h1 {
  color: #dd0000;
  font-size: 38px;
  font-weight: 300;
  margin: 50px 0 10px;
}
.title {
  color: #888;
  font-size: 20px;
}
.navbar ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  color: white;
}
.navbar li {
  background-color: #000;
  border-left: 1px solid #fff;
  min-width: 16.66%;
  padding: 15px;
  text-align: center;
}
.nav-options {
    color: white;
}

main {
  display: flex;
  padding: 40px 0 10px;
}
#left-thing {
  padding-right: 15px;
  width: 66.66%;
}
#right-thing{
  padding-left: 15px;
  width: 33.33%; 
}
p.post-date {
  color: #ccc;
  font-size: 26px;
  margin: 0;
}
h2 {
  font-weight: 300;
  font-size: 26px;
  margin: 10px 0 0;
}
img {
  color:  #dd0000;
  margin: 12px 0 0;
  max-width: 100%;
}
p .big-letter {
  color: #ccc;
  float: left;
  font-size: 70px;
  line-height: .7;
  padding-right: 5px;
  padding-bottom: 2px;
}
li {
    color: #dd0000;
}
p {
  color: #444;
  font-size: 14px;
  line-height: 1.4;
}
article {
  border-bottom: 1px solid #ccc;
  margin-bottom: 40px;
}
aside {
  color: #888;
  border-bottom: 1px solid #ccc;
  margin-bottom: 20px;
}
h3 {
  font-size: 15px;
}
#right-thing nav h3 {
  color: #888;
}
#right-thing nav ul {
  margin-left: -10px;
  list-style-type: none;
}
footer nav ul {
  display: flex;
  color: #ccc;
  font-size: 14px;
  list-style-type: none;
  padding-left: 0;
}
footer nav ul li {
  color:  #dd0000;
}
p.copyright-text {
  font-size: 13px;
  margin-top: 15px;
}* {
  box-sizing: border-box;
}
body {
  font-family: 'Lato';
}
.example {
  border-bottom: 1px solid lightgray;
  text-align: center;
  padding: 15px;
}
.wrapper {
  width: 90%;
  max-width: 800px;
  margin: 0 auto 30px;
}
h1 {
  color: #dd0000;
  font-size: 38px;
  font-weight: 300;
  margin: 50px 0 10px;
}
.title {
  color: #888;
  font-size: 20px;
}
.navbar ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  color: white;
}
.navbar li {
  background-color: #000;
  border-left: 1px solid #fff;
  min-width: 16.66%;
  padding: 15px;
  text-align: center;
}
.nav-options {
    color: white;
}

main {
  display: flex;
  padding: 40px 0 10px;
}
#left-thing {
  padding-right: 15px;
  width: 66.66%;
}
#right-thing{
  padding-left: 15px;
  width: 33.33%; 
}
p.post-date {
  color: #ccc;
  font-size: 26px;
  margin: 0;
}
h2 {
  font-weight: 300;
  font-size: 26px;
  margin: 10px 0 0;
}
img {
  color:  #dd0000;
  margin: 12px 0 0;
  max-width: 100%;
}
p .big-letter {
  color: #ccc;
  float: left;
  font-size: 70px;
  line-height: .7;
  padding-right: 5px;
  padding-bottom: 2px;
}
li {
    color: #dd0000;
}
p {
  color: #444;
  font-size: 14px;
  line-height: 1.4;
}
article {
  border-bottom: 1px solid #ccc;
  margin-bottom: 40px;
}
aside {
  color: #888;
  border-bottom: 1px solid #ccc;
  margin-bottom: 20px;
}
h3 {
  font-size: 15px;
}
#right-thing nav h3 {
  color: #888;
}
#right-thing nav ul {
  margin-left: -10px;
  list-style-type: none;
}
footer nav ul {
  display: flex;
  color: #ccc;
  font-size: 14px;
  list-style-type: none;
  padding-left: 0;
}
footer nav ul li {
  color:  #dd0000;
}
p.copyright-text {
  font-size: 13px;
  margin-top: 15px;
}